<footer>

	<p class="dancing">Chandan kuiry</p>

	<div class="social-icons">
			
		<a href="https://github.com/chandankuiry" target="_blank">
			<i class="fa fa-github-square"></i>
		</a>
		<a href="https://www.linkedin.com/in/chandan-kuiry-94b153ab/" target="_blank">
			<i class="fa fa-linkedin-square"></i>
		</a>
		
	</div>

</footer>

</body>
</html>