<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/bower/font-awesome/css/font-awesome.min.css"/>
<link rel="stylesheet" href="/css/app.css"/>
<link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>

<title><%= title %></title>

<meta property="og:type" content="website" />
<meta property="og:title" content="<%= title %>" />
<meta property="og:url" content="http://dimitrimikadze.com<%= url %>" />
<meta property="og:description" content="<%= desc %>" />
<meta property="og:image" content="" />

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-65974710-1', 'auto');
    ga('send', 'pageview');
</script>
</head>
<body>

<!-- Header -->
<header>
    <a href="/" class="dancing">Chandan kuiry</a>
</header>