<% include ../layouts/header %>

<div id="bb-m-container">

    <div id="feedback-header">
        <h1><%= feedback.name %></h1>
    </div>

    <div id="bb-container">

        <article>

            <%- feedback.content %>

        </article>

    </div> <!-- /. feedback container -->

    <div id="comments">
		<div id="disqus_thread"></div>
		<script type="text/javascript">
		    /* * * CONFIGURATION VARIABLES * * */
		    var disqus_shortname = 'dimitrimikadze';
		    
		    /* * * DON'T EDIT BELOW THIS LINE * * */
		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>


</div> <!-- /. main container -->

<% include ../layouts/footer %>