/* Feedback Main Container */
#bb-m-container {

  #feedback-header {
    width: 100%;
    text-align: center;
    color: $white;
    overflow: hidden;
    margin: 140px auto 0 auto;
  }

  #bb-container {
    margin: 50px auto 0 auto;
    max-width: 920px;
    color: $black;
    background-color: $white;
    padding: 20px;
    margin-bottom: 50px;
    overflow: hidden;

    img {
      width: 100%;
    }
    
  }

  #comments {
    margin: 0 auto;
    max-width: 920px;
    color: $black;
    background-color: $white;
    padding: 20px;
    margin-bottom: 100px;
    overflow: hidden;   
  }

  #feedback-header {
    max-width: 920px;
  }

  pre {
    padding: 20px;
    font-size: 16px;
    overflow-x: auto;
  }

  #bb-container p {
    font-size: 16px;
  }

}