<div class="container">

    <h1>Create Feedback</h1>

    <div class="form">

        <div class="form-group">
            <input type="text" name="short_name" placeholder="Short name" class="form-control" ng-model="feedback.short_name"/>
        </div>
        <div class="form-group">
            <input type="text" name="name" placeholder="Name" class="form-control" ng-model="feedback.name"/>
        </div>
        <div class="form-group">
            <input type="text" name="short_desc" placeholder="Short Description" class="form-control" ng-model="feedback.short_desc"/>
        </div>
        <div class="form-group">
            <div text-angular ng-model="feedback.content" name="content"></div>
        </div>

        <button class="btn btn-primary btn-lg" ng-click="createFeedback()"/>Create</button>

    </div>

</div>