<!-- modal -->
<div class="transparent" ng-if="modal"></div>
<div class="cm-container" ng-if="modal">
    <div class="cm">
        <h3>Do you really want to delete <span ng-bind="feedback.short_name"></span>?</h3>
        <div class="cm-buttons">
            <button class="btn btn-danger" ng-click="deleteFeedback(feedback._id)">Yes</button>
            <button class="btn btn-default" ng-click="cancelModal()">No</button>
        </div>
    </div>
</div>

<!-- container -->
<div class="container">

    <button><a ui-sref="admin-create-feedback">Create feedback</a></button>

    <div class="table-responsive">
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="b in feedbacks | orderBy: '-created_at'">
                    <td><a ui-sref="admin-update-feedback({id: b._id })" ng-bind="b.name">Update feedback</a></td>
                    <td><a ng-click="showDeleteModal(b._id)" class="delete">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>