<?xml version="1.0" encoding="UTF-8"?>
<urlset
      xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
            http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
<url>
  <loc>http://dimitrimikadze.com/</loc>
</url>
<url>
    <loc>http://dimitrimikadze.com/demos/vanilla-slideshow</loc>
</url>

<% feedbacks.forEach(function(feedback) { %>
    <url>
        <loc>http://dimitrimikadze.com/feedback/programming/<%= feedback.short_name.replace(new RegExp(" ", "g"), "-") %>/<%=feedback._id%></loc>
    </url>
<% }); %>

</urlset>

