<% include layouts/header %>

<div id="main-container">

    <div id="mb-container">

        <% feedbacks.forEach(function(feedback) { %>

            <div class="mb-container">

                <a href="/feedback/programming/<%= feedback.short_name.replace(new RegExp(" ", "g"), "-") %>/<%= feedback.id %>">
                    <h2><%= feedback.short_name %></h2>
                </a>

                <a href="/feedback/programming/<%= feedback.short_name.replace(new RegExp(" ", "g"), "-") %>/<%= feedback.id%>">
                    <p><%= feedback.short_desc %></p>
                </a>

            </div>

        <% }); %>

    </div> <!-- /. end feedback container -->

</div> <!-- /. end main container -->

<% include layouts/footer %>