/* Main SCSS */
/* Main Color Variables */
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
body, html {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: 100%;
  background-color: #e63d3d;
  font-family: 'PT Sans', sans-serif;
  background-image: url("../images/skulls-light.png"); }

.dancing {
  font-family: 'Dancing Script', cursive; }

/* Header */
header {
  position: absolute;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: #ffffff;
  text-align: center; }
  header a {
    display: block;
    text-decoration: none;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 20px;
    color: #ffffff;
    text-align: center;
    color: #111111; }

/* Footer */
footer {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 20px; }
  footer p:first-child {
    font-size: 30px; }
  footer p {
    color: #ffffff; }
  footer .social-icons {
    margin-top: 15px; }
    footer .social-icons a {
      margin: 0 3px;
      font-size: 28px;
      text-decoration: none;
      color: #cccccc; }
      footer .social-icons a:hover {
        color: #ffffff; }

/* Main Container */
#main-container #mb-container {
  margin: 200px auto 0 auto;
  max-width: 960px;
  color: #ffffff; }
#main-container .mb-container {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px dotted #b70000; }
  #main-container .mb-container:last-child {
    border: none; }
  #main-container .mb-container a {
    color: #ffffff;
    text-decoration: none; }
    #main-container .mb-container a:hover {
      text-decoration: underline; }
    #main-container .mb-container a h2 {
      font-size: 50px; }
    #main-container .mb-container a p {
      font-size: 30px; }

/* feedback Main Container */
#bb-m-container #feedback-header {
  width: 100%;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
  margin: 140px auto 0 auto; }
#bb-m-container #bb-container {
  margin: 50px auto 0 auto;
  max-width: 920px;
  color: #111111;
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 50px;
  overflow: hidden; }
  #bb-m-container #bb-container img {
    width: 100%; }
#bb-m-container #comments {
  margin: 0 auto;
  max-width: 920px;
  color: #111111;
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 100px;
  overflow: hidden; }
#bb-m-container #feedback-header {
  max-width: 920px; }
#bb-m-container pre {
  padding: 20px;
  font-size: 16px;
  overflow-x: auto; }
#bb-m-container #bb-container p {
  font-size: 16px; }

/*# sourceMappingURL=app.css.map */
